.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}


.home_container h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.home_container h1 span {
    color: #ffbb33;
    padding: 0.2em 0.4em;
    border-radius: 0.5em;
    background-color: black;
}
.home_container p {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: #333;
}

.home_container img {
    width: 350px;
    margin-top: 2em 0;
}

.home_container a {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #ffbb33;
    color: white;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}